*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

 #header{
    width: 100%;
    align-items: center;
}
/* .navbar{
    background-color: #ffffff;
    width: 100%;
    align-items: center;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    position: relative;

} */
body{
    min-width: 100%;
    object-fit: cover;

}
.row-limit-size{
    width: 100% ;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    justify-content: center;
}

#menu.active{
    width: 100%;
    display: block;
    transition: .1S all ease-in-out;
    background-color:rgb(255, 255, 255);
    overflow: auto;
}
#menu{
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all .1s ease-in-out;
    width: 100%;
    top: 0;
    position: absolute;
    overflow: auto;

}

 nav ul li{
    display: block;
    flex-direction: column;
    text-align: center;
    margin: 100px;

} 
nav ul li a {
    font-size: 1.5rem;
    font-size: 2rem;
} 
  #burger{
    display: block;
    position: absolute;
    right: 10px;
    top:  10px;

}

#burger.active{
    display: none;
    top: 0 ;
    width: 100%;
    position: relative;
} 

#burger img{
    width: 45px;
 
}
#crois{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top:  2%;
    right: 2%;
}
#crois img{
    width: 50px;
}



.logo{
    display: flex;

}

.txt-logo {
    margin-top: 40px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#1F4096 ;
}

.logo img {
    width: 50px;
}





/*-----------------*/
#main{
    min-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;


}
.first-main{
    width: 100%;


}


h1{
    color: #1F4096;
    /* background-color: #fff; */
    text-shadow: 0px 2px 2px #05163f;
    font-size: 2rem;
    margin: 30px;
 
}
.first-main {
    background-image: url(../img/ian-keefe-OgcJIKRnRC8-unsplash.jpg);
    width: 100%;
    height: 50vh;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    align-items: center;
    margin-bottom:15%;
    border: 0.1px solid rgba(0, 0, 0, 0);

}
.h1-header h1{
    display: block;
    color: #ffffff;
    text-shadow: 6px 2px 2px #05163f;
    font-size: 2rem;
    margin: 25% auto  ;
    text-align: center ;
    align-items: center;

}
@media screen and (max-width:390px) {
    body{
        width: 100%;
    }
    .h1-header h1{
        width: 100%;
        display: block;
        color: #ffffff;
        /* text-shadow: 6px 2px 2px #05163f; */
        font-size: 1.8rem;
        margin: 50% auto  ;
        text-align: center ;
        align-items: center;
        line-height: 2rem;
    
    }
    h1{
        font-size: 1.2rem;
    }

    
}
/* @media screen and (max-width:390px) {
    body{
        width: 100%;
    }
    .h1-header h1{
        width: 100%;
        display: block;
        color: #ffffff;
        text-shadow: 6px 2px 2px #05163f;
        font-size: 1.2rem;
        margin: 50% auto  ;
        text-align: center ;
        align-items: center;
        line-height: 2rem;
    
    }
    h1{
        font-size: 1.2rem;
    }

    
} */




/* barre de seach nos gites en france  */
.seachbar {
    align-items: center;
    width: 95%;
    margin: 0px auto ;
    
}
fieldset{
    border: none;
}
.card-logo{
    width: 100%;
}
.card-logo{
    margin: 0 auto;
}
.card-logo{
    display: flex;
    flex-direction: column;
}
form .card-logo input {
    text-align: center;
    color: #f2f2f3;
    cursor: pointer;
}
form .card-logo input .btn1:hover {

    text-align: center;
    background-color: #f2f2f3;
    color: #1F4096;
    transform: scale(1.5);
    color: #ffffff;
}



.seachbar .btn, .btn1 {
    cursor: pointer;
    color: #fff;
    background-color: #1F4096;
    width: 210px;
    margin: 30px auto ;
}
.btn1, .btn{
    width: 150px;
    height: 40px;
    margin: 30px auto ;
    display: block;
    border: 2px solid #1F4096;
    padding: 0px;
}
/* GITES EN TANDENCE */
#grid-tendance{
    width: 100%;
    margin: 10px auto;
    align-items: center;
}
#grid-tendance h1{
    margin-top: 70px;
}
.grid{
    display: grid;
    width: 99%;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: start;
}
.grid-item{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .2s;
    margin: 0 auto;
    width: 95%;
}
.grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
.card-img {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit:cover;
}
.card-img img{
    margin-top: 5px ;
    width: 90%;
    height: 50%;
    background-size: cover;

}
.card-content{
    padding: 3rem;
    background-size: cover;
    
}
.card-header{
    margin:-50px auto;
    font-size: 2rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 0rem;
}
.card-text{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 1.1rem;
}
.card-btn{
    display: block;
    width: 95%;
    padding: 1rem;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
    background-color: #1F4096;
    border: none;
    border-radius: 0.4rem;
    transition: 2s all;
    cursor: pointer;
    letter-spacing: 0.1rem;

}

.card-btn span{
    margin-left: 0.8rem;
    transition: .2s all;
}
.card-btn:hover,
.card-btn:active{
    background-color: #c2cffc;
    color: #b34408;

}
.card-btn:hover span, .card-btn:active span{
    margin-left: 1.5rem;
}

/* @media only screen and (max-width: 650px) {
    body{
        padding: 3rem;
    }
    .grid{
        gap: 3rem;
    }
} */

/* .container   {
    margin: 70px auto;
    justify-content: space-between;
    align-items: center;
    width: 95%;    
    border: 2px solid #1F4096;
    border-radius: 15px 0 15px 0;
    box-shadow: 0px 4px 6px #05163f;
    position: relative;
    background-color: #1F4096;
    height: 100%;
}


.cards img{
    margin:10px 5px auto;
    width: 45%;
    
}
.txt-gites{
    width: 150px;
    top: 70px;
    left: 15px;
    font-size: 0.5rem;
    position: absolute;
    border: 2px solid black;
    position: absolute;
}
.txt-gites h2{
    width: 150px;
    font-size: 0.5rem;
    color: #ffffff;
    font: caption;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.txt-gites p{
    color: #ffffff;
    font: bold;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
} */



/* section carousel */
/* .carousel{
    margin: 400px auto;
}
.carousel img{
    width: 95%;
    height: 100%;
} */
.container {
    max-width: 700px;
    width: 100%;
    margin: 150px auto;
    padding: 50px;
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .slider img {
    max-width: 100%;
    display: none;
  }
  img.active {
    display: block;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
  }
  .btn-nav {
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
  }



/* section reservez vos prochaine vacances */
 .container-2{
    margin: 50px auto ;
    background-color: #fff ;
    align-items: center;
    width: 95%;
    height:100%;

}
.container-2 h1{
    margin: 200px auto;
}
.container-card{
    margin: 6rem auto;
    background-color: #05163f;
    border-radius: 0.4rem;
    height: 100%;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 4rem 8rem rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.img-logo{
    margin-top: 40px auto;

}
.container-2 h3 {
    font-size: 1.7rem;
    text-align: center;
    color: #f2f2f3;
    margin: 40px ;
}
.container-2 p{
    font-size: 1.2rem;
    color: #f2f2f3be;    
    text-align: center;

} 



/* 
    Formulaire 
                */


.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../img/Couleurs-vacances-1100x732.jpg") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
    

}
.container:hover{
    box-shadow: 0 4rem 8rem rgba(15, 24, 210, 0.5);
    transform: scale(1.1);
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("../img/ian-keefe-OgcJIKRnRC8-unsplash.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #1F4096;
}

.text{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.text:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #05163f;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	cursor: pointer;
	transition: .5s all ease-in-out;
}
.btn placeholder{
    color: #05163f;
}

.btn:hover{
    background-color: #f2f2f3;
    border: 1px solid #3363ff;
    color: #3363ff;
}
textarea{
    resize: none;
}

.text:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
.contact-box{
    grid-template-columns: 1fr;
}
.left{
    height: 200px;
}



/* footer */
footer{
    background-color: #1F4096;
    height: 100px;
    width: 100%;
}
footer p{
    color: #ffffff;
}
.footer-logo  {
    position: absolute;
    right: 0;
    
    

}
.footer-logo img{
    margin-right: 20px;
}







@media screen and (min-width:950px){
    /* header et navbar menu */
    header{
        position: sticky; 

    }
    #header{
        width: 100%;
        position: relative;
        
    }

    .navbar {
        width: 100%;
        height: 70px;
        box-shadow: 4px 4px 4px rgba(12, 20, 89, 0.35);
        position: inherit;
        display: flex;
       position: fixed;
        z-index: 9999;
        top: 0;
        
    }


    #menu{
        top: 0;
        display: block;

        transition: .1S all ease-in-out;
        z-index: 999;
        transition: all .5s ease-in-out;
        height: 70px;
        overflow:inherit;
        box-shadow: 0px 2px 6px rgba(255, 255, 255, 0.45);
    }

     .row-limit-size {
        position: sticky;
        z-index: 999;
        top:0;
        display: flex;
        flex-direction: row;
        height: 70px;
        background-color: rgb(255, 255, 255);
    }
    nav ul{ 
        margin: 21px 30px ;
        display: flex;
        justify-content: end;
        transition: .5s all ease-in-out;
        
        
    }
    nav ul li {
        margin:0 10px;
        font-size: 1rem;
        top: 0;
        transform: translateY(5px);

    }
    nav ul li a:hover {
        margin:0;
        display: inline;
        color: white;
        background-color: #3363ff;
        box-shadow: 1px 4px 2px rgb(12, 20, 89);
        transform: scale(1.1);
        border: 1px solid #1F4096;
        border-radius: 2px;
        font-size: 1.6rem;



    }
    #last-child {
        color: white;
        background-color: #1F4096;

    }
    #last-child:hover {
        font-size: 1.6rem;
        transform: scale(1.1);
        border: 1px solid black;
        border-radius: 2px;

        color: #3363ff;
        background-color: #ffffff;
                box-shadow: 1px 4px 2px rgb(12, 20, 89);


    }



    nav ul li a {
        
        font-size: 1.5rem;
        
        
        padding: 20px;  
    }

    .logo{
        display: flex;
        position: relative;
        width: 100%;
        padding: 10px;
    }
    .logo img {
        width: 50px;
        margin-top: 15px;
    }
  
    .txt-logo  {
        font-size: 1.5rem;
        font-family: Arial, Helvetica, sans-serif;
        font: bolder;
        color:#1F4096;
    }
    #burger{
        display: none;
    }
     #crois{
        display: none;

     }

    /* navbar menu  */
  

    /*---- section main  --*/
    #main{
        margin-top: 70px;
        min-width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    
    
    }
    .first-main{
        width: 100%;
    }
    
    
    h1{
        color: #1F4096;
        /* background-color: #fff; */
        text-shadow: 0px 2px 2px #05163f;
        font-size: 4rem;
     
    }
    .first-main {
        display: block;
        background-image: url(../img/d1b6ed_fa5865dd8969435cb479b6ccc062ed49_mv2.jpg);
        width: 100%;
        height: 80vh;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        align-items: center;
        margin-bottom:9% auto;
        transform: translateY(-0.5%);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    
    }
    main span{
        color: #3363ff;
    }

    .h1-header h1{
        display: block;
        color: #ffffff;
        text-shadow: 6px 2px 2px #05163f;
        font-size: 5rem;
        margin: 15% auto  ;
        text-align: left ;
        align-items: center;
    
    }
    
    /* barre de seach nos gites en france  */
    .seachbar {
        align-items: center;
        width: 99%;
        margin: 10px auto ;
        height: 50rem;
        transition: .5s all ease-in-out;
        
    }
    .seachbar:hover{
        transform: translateY(-1.5%);
        box-shadow: 0 4rem 8rem rgba(30, 76, 160, 0.5);
        border-radius: 19px 19px 19px 19px;
        width: 80%;
    }
    .seachbar h1{
        margin: 7rem auto;
        font-size: 6rem;
    }
    fieldset{
        border: none;
        width: 100%;
        height: 100%;
    }
   
    
    .card-logo{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    form .card-logo input {
        text-align: center;
        color: #f1f1f1;
        cursor: pointer;
        display: flex;
        margin: 0;
        
        
    }
    .btn{
        width: 300px;
        height: 50px;
        margin: 100px auto ;
        border: 1px solid #1a41c1;
        background-color: #f1f1f1;
        color:#1F4096;
        border-radius: 1px 0 1px 0;
        font-size: 2rem;

    }
    form .card-logo input .btn:active {
        width: 300px;
        height: 40px;
        text-align: center;
        background-color: #ffffff;
        color: #1F4096;
        transform: scale(1);
        color: #ffffff;
        width: 150px;
    }

    
    section.seachbar .btn, .btn1 {
        cursor: pointer;
        color: #fff;
        background-color: #1F4096;
        
    }
    .btn1{
        width: 200px;
        height: 40px;
        margin: 100px auto  ;
        border: 1px solid #a69a9a;
        font-size: 1.5rem;
        padding: 0px;
        border-radius: 1px 0 1px 0;
    }
    .btn1:hover{
        width: 250px;
        height: 50px;
        margin: 100px auto ;
        border: 1px solid #1a41c1;
        background-color: #f1f1f1;
        color:#1F4096;
        border-radius: 1px 0 1px 0;
        font-size: 2rem;
        transform: scale(1.1);
    }
    .logo:hover{
        transform: scale(1);

    }
    /* GITES EN TANDENCE */
    #grid-tendance{
        width: 100%;
        margin: 10px auto;
        align-items: center;
    }
    #grid-tendance h1{
        margin: 5%;
    }
    .grid{
        display: grid;
        width: 99%;
        height: 100%;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-items: start;
        padding: 27px;
    }
    .grid-item{
        background-color: #fff;
        border-radius: 0.4rem;
        overflow: hidden;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: .2s;
        margin: 20px auto;
        height: 100%;
        width: 100%;
    }
    .grid-item img {
        width: 100%;
        height: 50%;
    }
    .grid-item:hover{
        transform: translateY(-0.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 10px 10px ;
    }
    .card-img {
        display: block;
        width: 100%;
        height: 25rem;
        object-fit:cover;
    }
    .card-img img{
        margin-top: 5px ;
        width: 95%;
        background-size: cover;
    
    }
    .card-content{
        padding: 3rem;
        background-size: cover;
        
    }
    .card-header{
        margin:-50px auto;
        font-size: 2rem;
        font-weight: 500;
        color: #0d0d0d;
        margin-bottom: 0rem;
    }
    .card-text{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        line-height: 1.7;
        color: #3d3d3d;
        margin-bottom: 1.1rem;
    }
    .card-btn{
        display: block;
        width: 95%;
        padding: 1rem;
        font-size: 1.6rem;
        text-align: center;
        color: #3363ff;
        background-color: #1F4096;
        border: none;
        border-radius: 0.4rem;
        transition: 2s all;
        cursor: pointer;
        letter-spacing: 0.1rem;
    
    }
    
    .card-btn span{
        margin-left: 0.8rem;
        transition: .2s all;
    }
    .card-btn:hover,
    .card-btn:active{
        background-color: #c2cffc;
    
    }
    .card-btn:hover span, .card-btn:active span{
        margin-left: 1.5rem;
    }
    

    /* section carousel */

    
    /* .carousel{
        margin: 400px auto;
    }
    .carousel img{
        width: 55%;
        height: 100%;
    } */

 
    
      /* .container {
        max-width: 800px;
        margin: 30% auto;
        padding: 50px;
      }
      
      .slider img {
        max-width: 100%;
        display: none;
      }
      img.active {
        display: block;
        animation: fade 0.8s;
      }
      @keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      .cont-btn {
        width: 100%;
        height: auto;
        border: 1px solid #000;
        box-shadow: 0 10px 10px rgba(0,0,0,0.3);
        display: flex;
        justify-content: center;
      }
      .btn-nav {
        font-size: 50px;
        margin: 0 15px;
        cursor: pointer;
      } */

    
    /* section reservez vos prochaine vacances */
    .container-2{
        margin: 50px auto  ;
        background-color: #fff ;
        width: 100%;
        height: auto;
    
    }
    .container-2 h1{
        margin: 150px auto ;
        font-size: 4rem;

    }
    .container-card{
        width: 600px;
        margin: 50px   ;
        box-sizing: border-box;
        background-color: #05163f;
        border-radius: 0.4rem;
        height: 25rem;
        border: none;
        border-radius: 1.5rem;
        box-shadow: 0 4rem 8rem rgba(255, 255, 255, 0.5);
        padding: 10px;
    }
    .container-card:hover{
        box-shadow: 0 2rem 6rem rgb(21, 34, 185);
        transform: translateY(-0.5%);
        transition: .2s all ease-in;



    }
    .cards{
        display: flex;
        justify-content: center;
    }
    .img-logo img{
        margin-top: 10px ;

    
    }
    .container-2 h3 {
        font-size: 1.7rem;
        text-align: center;
        color: #f2f2f3;
        margin: 40px auto ;
    }
    .container-2 p{
        font-size: 1.2rem;
        color: #f2f2f3be;    
        text-align: center;
    
    }
    
    
    /* Formulaire */
    /* .formulaire{
        width: 100%;
        margin:100px auto;
        justify-content: center;
        background-color: rgb(248, 248, 248);
        box-shadow: 1px 1px 6px #05163f ;
    }
     .formulaire input{
        background-color: #1F4096;
        color: #f2f2f3;
        font: bolder;
        transform: scale(1.5);
    }
    .tableau input .btn1{
        background-color: #1F4096;
        color: #f2f2f3;
        font: bolder;
        transform: scale(1.1);
        

    }
 
    label{
        margin: 30px ;
        font-size: 2rem;
        color: #1F4096;
    }
    #email{
        background-color: #1f4196bf;
        color: #f2f2f3;
        font: bolder;
        transform: scale(1.1);
        box-shadow: 1px 1px 6px #05163f ;

    }
    .formulaire input {
        color: #fff;
        display: block;
        font: bolder;
        transform: scale(1.1);
    }
    input::placeholder{
        color: #ffffff;
        text-align: center;
        opacity: 1;
    } 
     #message{
        width: 50%;
        margin: 20px ;
        background-color: #fff;
        color: #1F4096;
        font: bolder;
        font-size: 2rem;
    }
    #message:hover{
        width: 60%;
        margin: 20px auto;
        background-color: #1F4096;
        color: #fff;
        font: bolder;
        font-size: 2rem;
        transform: scale(1.1);
    }
    .flex{
        margin-top: 200px;
    }

 
    input .btn1{
        margin: 10px;
        width: 100px;
    }
    .btn-sibmit{
        font-size: 2rem;
        color: #1F4096;
        width: 500px;
        padding: 10px;margin: 0 auto;


    }

    textarea{
        resize: none;
    } */

    .container{
        position: relative;
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 64px;
    }
    
    .container:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("../img/Couleurs-vacances-1100x732.jpg") no-repeat center;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }
    .contact-box{
        max-width: 850px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    }
    
    .left{
        background: url("../img/pexels-tansu-topuzoglu-10206271.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
    }
    
    .right{
        padding: 25px 40px;
    }
    
    h2{
        position: relative;
        padding: 0 0 10px;
        margin-bottom: 10px;
    }
    
    h2:after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 4px;
        width: 50px;
        border-radius: 2px;
        background-color: #1F4096;
    }
    
    .text{
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        margin-bottom: 22px;
        transition: .3s;
    }
    
    .text:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    
    textarea{
        min-height: 150px;
    }
    
    .btn{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: #05163f;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        cursor: pointer;
        transition: .5s all ease-in-out;
    }
    
    .btn:hover{
        background-color: #f2f2f3;
        border: 1px solid #3363ff;
        color: #3363ff;
    }
    textarea{
        resize: none;
    }
    
    .text:focus{
        border: 2px solid rgba(30,85,250,0.47);
        background-color: #fff;
    }
    
    @media screen and (max-width: 880px){
        .contact-box{
            grid-template-columns: 1fr;
        }
        .left{
            height: 200px;
        }
    }


    /* footer */
    footer{
        background-color: #000000;
        height: 200px;
        width: 100%;
    }
    footer p{
        color: #ffffff;
    }
    

}


h1{
    font-family: 'Times New Roman', Times, serif;

    
}